@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

body {
	font-family: 'Antic Slab', serif;
	text-align: center;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

body > * {
	margin-left: auto;
	margin-right: auto;
}

input {
	font-family: inherit;
}

.tier-heading {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.num-to-proceed {
	font-size: 125%;
	font-style: italic;
}

.number {
	font-size: 125%;
	font-style: normal;
}

.puzzle-list {
	display: flex;
	justify-content: space-around;
}

.puzzle {
	color: white;
	text-shadow: #666666 2px 2px;
	font-size: 300%;
	background-color: #aaaaaa;
	box-shadow: #666666 2px 2px 2px;
	height: 100px;
	width: 100px;
	margin: 10px;
	border-radius: 10px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.puzzle a {
	color: inherit;
	text-decoration: none;
}

.locked {
	background-color: #333333;
	color: #999999;
	text-shadow: #666666;
	position: relative; /* needed because the absolute positioning of the lock looks for the first parent with non-static positioning */
}

.locked::after {
	content: "🔒";
	display: block;
	position: absolute;
	top: -20px;
	right: -20px;
	font-size: 80%;
}

.solved {
	background-color: #7dd4b7;
	color: #e8fff7;
	box-shadow: #2b8c6b 2px 2px 2px;
	text-shadow: #2b8c6b;
	position: relative;
}

.solved::after  {
	content: "✔️";
	display: block;
	position: absolute;
	top: -20px;
	right: -20px;
	font-size: 80%;
}

#feedback {
	background-color: #eeeeee;
	box-shadow: #aaaaaa 2px 2px 2px;
	padding: 10px;
	border-radius: 10px;
	font-size: 125%;
	font-style: italic;
}

input[type=text] {
	border-bottom: double 3px black;
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: inherit;
}

input[type=submit] {
	font-size: inherit;
}